@use "./variables.scss" as *;

// put your custom CSS here!

.text-highlight {
    background-color: #F0E6D4 !important;
}

a.internal {
    background-color: #F0E6D4 !important;
}

h1, h2 {
    font-family: "Uncial Antiqua", system-ui !important;
}
body {
    font-family: "Vollkorn", serif !important;
}