@use "./variables.scss" as *;

// put your custom CSS here!

:root {
    --background-primary: #f0e6d4;
    --background-secondary: #faf8f8;
    --headerFont: Metamorphous;
    --titleFont: Metamorphous;
    --font-text: Vollkorn;
    --font-interface: Vollkorn;
    --bodyFont: Vollkorn;
    --h1-font: Metamorphous;
    --h2-font: Metamorphous;
    --h3-font: Metamorphous;
    --h4-font: Metamorphous;
    --h5-font: Metamorphous;
    --h6-font: Metamorphous;
    --tab-container-background: var(--background-primary);
}
.text-highlight {
    background-color: #e4f2ed !important;
}
a.internal {
    background-color: #e4f2ed !important;
}
h1, h1 *, h2, h2 *,
a h1, a h1 *, a h2, a h2 * {
    font-family: var(--headerFont);
    font-weight: 600;
    color: darkslategrey;
}
h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 * {
    font-family: var(--font-text);
    color: darkslategrey;
}
html, body {
    background-color: var(--background-primary) !important;
}

html em {
    cursor: auto;
}
p {
    color: var(--text-normal);
}
a:link, a:visited {
    color: darkslategrey !important
}
blockquote {
    border-left: 3px solid darkslategrey;
    margin: 1rem 0;
    padding-left: 1rem;
    transition: border-color .2s;
}
.center {
    background-color: var(--background-secondary) !important; 
}
.search-container, .explorer-content {
    background-color: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(8px) !important;
}
.active-popover, .popover {
    background-color: var(--background-secondary) !important;
}
.explorer-content {
    padding: 1em;
}
@media (max-width: 800px) {
    div.sidebar.left {
        background-color: var(--background-primary);
    }
}